<!-- footer starts here -->
<footer>
    <div class="footerBoxes">
        <div class="one">
            <h1>Rent It</h1>
            <h4>Contact</h4>
            
            <p><span>Address: </span> IIIT Srikakulam, I1 Block.</p>
            <p><span>Phone: </span> +91 9898989898</p>
            <p><span>Hours: </span> 10:00 Am to 5:00 Pm - Mon to Fri</p>
            
        </div>
        <div class="two">
            <h4>About</h4>

            <p>About Us</p>
            <p>Privacy Policy</p>
            <p>Terms and Conditions</p>
            <p>Contact Us</p>
        </div>
        <div class="three">
            <h4>My Account</h4>
    
            <p>Sign In</p>
            <p>View Cart</p>
            <p>My Wishlist</p>
            <p>Help</p>
        </div>
        <div class="four">
            <h4>Install App</h4>
    
            <p>From Apple store or Play store</p>
            <div>
                <img src="/images/img/pay/app.jpg" alt="">
                <img src="/images/img/pay/play.jpg" alt="">
            </div>
        </div>
    </div>

    <p id="copyWrite">Copyright &copy; IIIT SKLM - Rent It - 2022</p>
    
</footer>
<!-- footer ends here -->

</body>
</html>