<%- include("partials/header"); -%>

    <div class="total">

        <div class="know">
            <!-- <img src="images/img/about/banner.png" alt="banner"> -->
            <div class="matter">
                <h1 class="kn">#KnowUs</h1>
                <p class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

            </div>
        </div>

        <div class="about">
            <div class="left">
                <img src="/images/img/about/a6.jpg">
            </div>
            <div class="right">
                <h1 class="heading">Who We Are?</h1>
                <p class="para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil error temporibus sint molestias eos nam culpa, at non accusamus, voluptates nesciunt dignissimos possimus quos nostrum rerum numquam maiores libero asperiores?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque aperiam odit dolore quia non sunt rerum, distinctio id iure adipisci repudiandae nam veritatis fuga odio! Soluta, labore. Quaerat, ex qui.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam facilis fugiat reiciendis, natus modi quisquam earum fugit sapiente eius, nam quis odit totam et sint repudiandae iure maxime voluptas. Modi!
                </p>

            </div>
        </div>
    </div>
    <%- include("partials/footer"); -%>