<%- include("partials/header"); -%>
<div class="box">
    
    <div class="top">
        <h1 class="talk">#Let's_talk</h1>
        <p class="pa">Leave a message. We love to hear from you</p>
    </div>
    <div class="bottom">
        <div class="left">
            <p class="txt">GET IN TOUCH</p>

            <h1 class="heading">Visit one of our agency locations or contact us today</h1>
            <h3 class="office">Head Office</h3>
            <div class="paras">
                <p class="p1"><i class="fa-solid fa-location-dot"></i> &nbsp; &nbsp;Hetcherla mandal, Srikakulam dist.
                </p>
                <p class="p2"><i class="fa-solid fa-envelope"></i> &nbsp; &nbsp;sklm@gmail.com</p>
                <p class="p3"><i class="fa-solid fa-phone"></i> &nbsp; &nbsp;contact@example.com</p>
                <p class="p4"><i class="fa-solid fa-clock"></i> &nbsp; &nbsp;monday to saturday</p>
            </div>

        </div>
        <div class="right">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3788.301703992632!2d83.8216643180133!3d18.28780584703819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3c13005daa117b%3A0xd2114a91cfba13c8!2sIIIT%20Srikakulam!5e0!3m2!1sen!2sin!4v1659421350167!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>
    </div>
</div>

    <%- include("partials/footer"); -%>